{# src/CvBundle/Ressources/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}
      Florian Chassot - CV
    {% endblock %}
  </title>

  {% block stylesheets %}
    {% stylesheets filter='cssrewrite, ?scssphp'
      'bundles/altgeekcv/css/CVMain.css' %}
      <link rel="stylesheet" href="{{ asset('bundles/altgeekcv/css/CVMain.css') }}" type="text/css" />
    {% endstylesheets %}
  {% endblock %}
</head>

<body>
  <div class="container">

    {% block header %}
      {{ include("AltgeekCVBundle:CVViews:top.html.twig") }}
    {% endblock %}

    {{ include("AltgeekCVBundle:CVViews:left.html.twig") }}

    <div id="content" class="col-md-9">
      {% block body %}
      <p> {{ 'CV content'|trans }} </p>
      {% endblock %}
    </div>

    {{ include("AltgeekCVBundle:CVViews:right.html.twig") }}

    {% block footer %}
      {{ include("AltgeekCVBundle:CVViews:bottom.html.twig") }}
    {% endblock %}

    {% block javascripts %}
      {% javascripts filter='?jsqueeze'
        'bundles/altgeekcv/js/CVMain.js' %}
        <script type="text/javascript" src="{{ asset('bundles/altgeekcv/js/CVMain.js') }}"></script>
      {% endjavascripts %}
    {% endblock %}
  </div>
</body>
</html>